.home-page {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.outter-list-container {
  background-color: rgba(248, 240, 240, 0.322);
  border-radius: 10px;
  padding: 10px;
  border: 1px solid white;
  width: 55vw;
  max-height: 80vh;
}

.list-container {
  width: 55.5vw;
  overflow:scroll;
  overflow-x:hidden;
  max-height: 80.5vh;
}

.card-container {
  border: 0 none;
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  background-color: #403f3f;
  height: 20vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.student-info {
  width: 25vw;
}

.card-container p {
  margin: 0;
}

.student-name {
  font-size: larger;
  font-weight: bold;
}

.student-phone {
  font-size: small;
}

.student-city, .student-street {
  font-size: medium;
}

.student-date {
  font-size: smaller;
  font-weight: bold;
}

.student-buttons {
  display: flex;
  flex-direction: column;
  margin: 10%;
}

.student-buttons button {
  width: 10vh;
  padding: 5px;
  margin: 5px 0;
  border: 0 none;
  border-radius: 8px;
}

.student-remove-button {
  background-color: rgba(251, 27, 27, 0.704);
  cursor: pointer;
}

.student-remove-button:hover {
  background-color: rgba(248, 91, 91, 0.704);
}

.student-edit-button:hover {
  cursor: pointer;
  background-color:rgba(248, 240, 240, 0.571)
}

img {
  width: 8vw;
  height: 15vh;
  border-radius: 5px;
}